@using MVCOnlineTicaretOtomasyonu.Models.Siniflar
@model List<SatisHareket>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Index</h2>



<table id="tbl1" class="table table-bordered">
    <thead>
    <tr>
        <th>ID</th>
        <th>Ürün</th>
        <th>Cari</th>
        <th>Personel</th>
        <th>Adet</th>
        <th>AdetFiyat</th>
        <th>Toplam</th>
        <th>Tarih</th>
        <th>İşlemler</th>
    </tr>
    </thead>
    <tbody>      
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.Satisid</td>
            <td>@item.Urun.UrunAd</td>
            <td>@item.Cariler.CariAd @item.Cariler.CariSoyad</td>
            <td>@item.Personel.PersonelAd @item.Personel.PersonelSoyad</td>
            <td>@item.Adet</td>
            <td>@item.Fiyat</td>
            <td>@item.Toplam</td>
            <td>@item.Tarih.Date</td>
            <td>
                <a href="/Satis/SatisGetir/@item.Satisid" class="btn btn-success">Güncelle</a>
                <a href="/Satis/SatisDetay/@item.Satisid" class="btn btn-dark">Detaylar</a>
            </td>
        </tr>
    }
    </tbody>  
</table>
<a href="/Satis/YeniSatis/" class="btn btn-info">Satış Ekle</a>


<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<link href="~/Content/DataTables/css/dataTables.bootstrap.min.css" rel="stylesheet" />
<link href="~/Content/DataTables/css/responsive.bootstrap.min.css" rel="stylesheet" />
<script src="~/Scripts/DataTables/jquery.dataTables.min.js"></script>
<script src="~/Scripts/DataTables/dataTables.bootstrap4.min.js"></script>

<script>

    $('#tbl1').DataTable({

        "language": {

            "url": "//cdn.datatables.net/plug-ins/1.10.12/i18n/Turkish.json"

        }

    });

</script>