@using MVCOnlineTicaretOtomasyonu.Models.Siniflar
@model List<Faturalar>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Index</h2>


<table class="table">
    <tr>
        <th>ID</th>
        <th>Seri No</th>
        <th>Sıra No</th>
        <th>Vergi Dairesi</th>
        <th>Tarih</th>
        <th>Saat</th>

        <th>Teslim Eden</th>
        <th>Teslim Alan</th>
        <th>Toplam</th>
        <th>İşlemler</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.Faturaid</td>
            <td>@item.FaturaSeriNo</td>
            <td>@item.FaturaSıraNo</td>
            <td>@item.VerigiDairesi</td>
            <td>@item.Tarih</td>
            <td>@item.Saat</td>

            <td>@item.TeslimEden</td>
            <td>@item.TeslimAlan</td>
            <td>@item.Toplam</td>
            <td>
                <a href="/Fatura/FaturaGetir/@item.Faturaid" class="btn btn-danger">Güncelle</a>
                <a href="/Fatura/FaturaDetay/@item.Faturaid" class="btn btn-success">Detaylar</a>
            </td>
        </tr>
    }

</table>
<a href="/Fatura/FaturaEkle" class="btn btn-info">Yeni Fatura Girişi</a>